/* TOdo minify this file */

/* General */
[class*='sbu-'] {
    text-decoration: none;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

.sbu-rounded {
    border-radius: 20px !important;
}

.sbu-nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sbu-not-found {
    text-align: center;
    width: 100%;
    padding: 50px 0;
}

.sbu-box-shadow:hover {
    box-shadow: 0 0 15px rgba(40, 40, 40, 0.16);
}

.sub-flex {
    display: flex;
}

.sbu-p-t {
    padding-top: 15px;
}

.sbu-border {
    border: solid 1px rgba(9, 9, 9, 0.1);
}

.sbu-grid-list, .sbu-categories-main, .sbu-services-main, .sbu-staff-main {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: .5rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* ***** Categories ******* */
.sbu-categories-main .sbu-category-item {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    text-align: center;
    background: white;
    overflow: hidden;
}

.sbu-categories-main .sbu-category-item .sbu-overly {
    padding: 150px 5px;
}

.sbu-categories-main .sbu-category-item.sbu-by-image {
    border: none !important;
}

.sbu-categories-main .sbu-category-item.sbu-by-image .sbu-overly {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: white !important;

}

.sbu-categories-main .sbu-category-item.sbu-by-image .sbu-overly {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: white !important;
    transition: 0.3s;
}

.sbu-categories-main .sbu-category-item.sbu-by-image .sbu-overly:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* category small */
.sbu-categories-main.sbu-small .sbu-category-item .sbu-overly {
    padding: 25px 5px;
}

.sbu-categories-main.sbu-small {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

/* category medium */
.sbu-categories-main.sbu-medium .sbu-category-item .sbu-overly {
    padding: 75px 5px;
}

.sbu-categories-main.sbu-medium {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

/* ***** Services ******* */
.sbu-services-main {
}

.sbu-service-item {
    width: 100%;
    text-align: center;
    background: white;
    overflow: hidden;
}

.sbu-service-item-image div, .sbu-staff-item-image div {
    background-size: cover;
    background-position: center !important;
    width: 100%;
    max-width: 100%;
    height: 300px;
}

.sbu-service-item-content, .sbu-staff-item-content {
    padding: 15px;
}

.sbu-service-item-title, .sbu-staff-item-title, .sbu-service-item-category, .sbu-staff-item-email {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sbu-service-item-title, .sbu-staff-item-title {

    width: 100%;
    font-weight: bold;
    font-size: 15pt;
}

.sbu-service-item-category, .sbu-staff-item-email {
    width: 100%;
    font-size: 10pt;
    padding: 10px 0 5px;
}

.sbu-service-item-price {
    padding-top: 5px;
    width: 50%;
    font-size: 15pt;
}

.sbu-service-item-duration {
    padding-top: 5px;
    width: 50%;
    font-size: 15pt;
}

.sbu-service-footer, .sbu-staff-footer {
    display: flex;
    flex-direction: row-reverse;
}

.sbu-service-footer a, .sbu-staff-footer a {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: rgba(35, 35, 35, 0.03);
    border-top: solid 1px rgba(9, 9, 9, 0.05);
}

.sbu-service-footer a:hover, .sbu-staff-footer a:hover {
    color: white !important;
}


/* ***** Staff ******* */
.sbu-staff-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sbu-staff-item {
    width: 100%;
    text-align: center;
    background: white;
    overflow: hidden;
}


/* ***** Filters ******* */
.sbu-services-filters {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: .5rem;

}

.sbu-services-filters-item {
    text-align: center;
    padding: 25px 35px;
    background: rgba(0, 0, 0, 0.05);
    font-weight: bold;
}